<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = "css/bootstrap.css" ) }}"
    <meta charset="UTF-8">
    <title>Botstrap gieting started</title>
</head>
<body>
<!--

<div class="container">
    {{ label }}
    <br/>
    <form method="post">
        <div class="form-group">
            <label for="{{ id_email }}" >E-mail address :</label><br/>
            <input type = "email" id="{{ id_email }}" /><br/>
            <label for="Password">Password :</label><br/>
            <input type="password" id="Password" /><br/>
            <input type="submit" class="btn-primary" value="Log in"/><br/>
        </div>
    </form>
    <div class="row">
    <div class = "col-lg-6" style ="background-color: #0c5460">Petrol blue</div>
    <div class = "col-lg-6" style ="background-color: #abdde5">Light blue</div>
    </div>
    <br>
    <div class="row">
    <div class = "col-lg-4" style ="background-color: yellow">Kafelek sprzedażowy 1</div>
    <div class = "col-lg-4" style ="background-color: lightblue">Kafelek sprzedażowy 2</div>
    <div class = "col-lg-4" style ="background-color: orange">Kafelek sprzedażowy 3</div>
    </div>
    <br>
    <div class="row">
    <div class = "col-lg-12" style ="background-color: pink">Kafelek sprzedażowy 1</div>
    </div>
    <br>


</div>
-->

<div class="container">
    <div class="row">
    <div class = "col-lg-4 col-md-6 col-xs-12" style ="background-color: red">Kafelek sprzedażowy 1</div>
    <div class = "col-lg-4 col-md-6 col-xs-12" style ="background-color: red">Kafelek sprzedażowy 2</div>
    <div class = "col-lg-4 col-md-6 col-xs-12" style ="background-color: red">Kafelek sprzedażowy 3</div>
    </div>

</div>


</body>
</html>